.D-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 6px;
    cursor: pointer;
  }
  
  .title:hover {
      color: #FEA50E;
  }
  .main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .problems{
   
    height: 78vh;
    width: 70vh;
  }