.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
}
.signup-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color:white;
    width: fit-content;
}
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}
 
a{
    text-decoration: none;
}

.alternatives{
    display: flex;
    width: 90%;
    justify-content: space-between;
}