body {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 500px;
    margin: 100px auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  input[type="text"],
input[type="password"],input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
button[type="submit"] {
    margin-top: 2rem;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }
  