table {
    width: 100%;
    border-collapse: collapse;
  }
  
 th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  
  
  
  
  
  