.footer {
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 100vw;
    padding: 15px;
}

.footerData {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 3vh;
}