body {
    background-color: #ccdca1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome {
    background-color: green;
    width: 60%;
    border: 5px solid #333;
    text-align: center;
}

.navbar {
    background-color: green;
    padding: 10px 5px;
    text-align: center;
}