@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #333333;
}

header {
  max-width: 1200px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
}

.logo {
  font-size: 24px;
  letter-spacing: -2px;
  font-style: italic;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.heroTitle {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 32px;
}

.heroDesc {
  color: #969696;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
}

.homeBtn {
  display: block;
  color: whitesmoke;
  background-color: #1da09c;
  padding: 16px 28px;
  border-radius: 50px;
}

.loginPage {
  display: grid;
  place-content: center;
  height: calc(100vh - 70px);
  max-width: 400px;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 32px;
}

.loginPage > h3 {
  text-align: center;
  margin-bottom: 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

input {
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #17817e;
  color: whitesmoke;
  cursor: pointer;
}

.loginLinks {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 16px;
  color: #17817e;
}

.signUpLinks {
  font-size: 14px;
  margin-top: 16px;
  color: #17817e;
  text-align: center;
}

.signUpLinks > span {
  color: gray;
}

.table__header {
  border-bottom: 1px solid #969696;
}

th {
  color: #969696;
  text-align: left;
}

td {
  color: whitesmoke;
}

.Easy {
  color: #268498;
}

.Medium {
  color: #ffc01e;
}

.Hard {
  color: #dd2d2a;
}
