body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(40, 40, 40);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.blog-card {
  border: "1px solid grey";
  padding: "10px";
  margin: "10px";
  background-color: rgb(40, 40, 40);
}

table {
  width: 80%;
  margin: auto;
  table-layout: fixed;
}

td {
  padding: 15px;
  margin: 15px;
  text-align: center;
  width: calc(100% / 3);
}

tbody tr:nth-child(even) {
  background-color: rgb(40, 40, 40);
}

thead {
  background-color: rgb(42, 42, 42);
  color: white;
  font-weight: bold;
}

th {
  padding: 10px;
  text-align: center;
}