*{
    overflow: hidden;
}
.bodyofproblem{
    display: flex;
    flex-direction: column;
}
.two-containers{
    display: flex;
    flex-direction: row;
}
.problem-name{
    font-weight: bold;
    background: white;
}
.background-cont{
    display: grid;
    grid-template-columns:50vw 50vw;
    background-color: #ececec;
    gap : 0.5vw;
    padding:0.4vw;
    justify-content: space-evenly;
}
.problem-container{
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height :100vh;
    width : 50vw;
    gap:1vw;
    /*box-sizing: border-box;*/
    border-radius: 0.5vw;

}
.code-container{
    background-color: white;
    height :100vh;
    width : 50vw;
    border-radius: 0.5vw;
}
.navbar{
    border-radius: 0.5vw 0.5vw 0 0;
}
*{
    font-size: 0.7vw;
}
.margin-to-problem{
    margin-left : 0.8vw;
}
.difficulty{
    display: inline;
}
.text-example{
    background-color: #eaeaea;
    padding: 1vh 1vw 1vh 1vw;
    border-radius:0.5vw;
    width:97%;
}
.example-1{
   padding-bottom: 1vw;
}
ul {
    list-style-type: none;
}
.contraints{
    margin-left : 0.8vw;
    display: flex;
    flex-direction: column;
    gap :1vw;
}
ol, ul {
    padding-left: 0.2vw;
    padding-top: 0.2vw;
}
.code{
    display:flex;
    flex-direction: row;
    width : 100%;
}
.Textarea{
    flex: 1;
    border: none;
    outline: none;
    height: auto;
    resize: none;
    overflow-y: scroll;
}
.toscroll{
    overflow-y: scroll;
}
.numbergrid{
    width:5%;
}
.to-end{
    margin-left: 90%;
}
.dropdown{
    border: none;
    outline: none;
    background-color: inherit;
    border-radius: 1vw;
    margin-top: 1vh;
}
.margin-bottom{
    margin-bottom: 1vh;
}
.btn2{
    height: 3vh;
    width: 3vw;
    border-radius: 1vw;
    font-size: 0.5vw;
}
.problem-statement{
    margin-top: 4vh;
}








