.form{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}
.form:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form div {
    margin-bottom: 10px;
  }

  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form input[type="email"],
  .form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .form {
      max-width: 100%;
    }
  }







